@model IEnumerable<BitirmeProjesi.Models.Brand>

<style>
    .table tbody {
        display: block;
        max-height: 200px;
        overflow-y: auto;
    }

    .table thead,
    .table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

<div class="card p-1">
    @if (TempData["DeleteBrandError"] != null)
    {
        <div class="alert alert-danger">
            @TempData["DeleteBrandError"]
        </div>
    }

    <table class="table table-striped" style="max-height: 200px; overflow-y: auto;">
        <thead>
            <tr>
                <th scope="col">Marka Id</th>
                <th scope="col">Marka Adı</th>
                <th scope="col">Kategori Adı</th>
                <th scope="col">Ayarlar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model.Reverse())
            {
                <tr class="brand-row">
                    <td>@brand.BrandId</td>
                    <td>@brand.BrandName</td>
                    <td>@brand.Category!.CategoryName</td>
                    <td>
                        <a asp-action="EditBrand" asp-route-id="@brand.BrandId" class="btn btn-success">Düzenle</a>
                        <form asp-action="DeleteBrand" asp-route-id="@brand.BrandId" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-secondary" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
