@model IEnumerable<BitirmeProjesi.ViewModel.CategoryWithVehicleCountViewModel>

<div class="uiBox">
    <nav>
        <ul class="categories-left-menu">
            <li class="category-vehicle">
                <ul>
                    <a style="font-weight: bold;" href="" title="Vasıta">Vasıta</a>
                    @foreach (var category in Model.Take(9))
                    {
                        <li>
                            <a href="javascript:void(0);" onclick="filterCars(@category.Category.CategoryId)">
                                @category.Category.CategoryName
                            </a>
                            <span style="font-size: 0.8em; color: gray;">(@category.VehicleCount)</span>
                        </li>
                    }

                    <div class="hidden-categories" style="display:none;">
                        @foreach (var category in Model.Skip(9))
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="filterCars(@category.Category.CategoryId)">
                                    @category.Category.CategoryName
                                </a>
                                <span style="font-size: 0.8em; color: gray;">(@category.VehicleCount)</span>
                            </li>
                        }
                    </div>

                    <a href="javascript:void(0);" class="toggle-all" data-state="show">Tümünü Göster
                        <i style="padding-left: 5px;" class="bi bi-caret-down-fill"></i>
                    </a>
                </ul>
            </li>
            <hr class="my-3">
        </ul>
    </nav>
</div>


<!-- jQuery veya Vanilla JS ile Tümünü Göster / Kapat işlevi -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle-all").click(function () {
            // Butonun bulunduğu liste öğesine (li) göre gizli kategorileri seçelim
            var hiddenCategories = $(this).closest("ul").find(".hidden-categories");

            // Duruma göre aç/kapat işlemi
            if ($(this).data("state") === "show") {
                hiddenCategories.slideDown();  // Kategorileri göster
                $(this).html('Kapat<i style="padding-left: 5px;" class="bi bi-caret-up-fill"></i>'); // Yazı ve ikonu değiştir
                $(this).data("state", "hide"); // Durumu değiştir
            } else {
                hiddenCategories.slideUp();    // Kategorileri gizle
                $(this).html('Tümünü Göster<i style="padding-left: 5px;" class="bi bi-caret-down-fill"></i>'); // Yazı ve ikonu değiştir
                $(this).data("state", "show"); // Durumu değiştir
            }
        });
    });
    function filterCars(categoryId) {
        $.ajax({
            url: '@Url.Action("GetCarsByCategory", "Home")', // Aksiyonunuzu belirtin
            type: 'GET',
            data: { categoryId: categoryId },
            success: function (data) {
                $('#carListContainer').html(data); // Gelen veriyi güncelle
            },
            error: function () {
                alert('Bir hata oluştu.');
            }
        });
    }
</script>
